@import '~bootstrap/scss/bootstrap';

.jumbotron {
    height: 450px;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
}

.home_links {
    img {
        aspect-ratio: 1/1;
        width: 50px;
    }
}

.my_span{
    padding: 0.3rem 1rem;
    font-size: 2rem;
}

footer{
    background-image: url(../img/footer-bg.jpg);

    ul{
        list-style: none;

        a{
            text-decoration: none;
        }
    }
}

.negative_margin {
    margin-top: -2.5rem;
}

.my_home_img{
    aspect-ratio: 1/1;
    object-fit: cover;
}